.sidebar {
  position: absolute;
  z-index: 100;
  display: block;
}

.nav-btn {
  margin: 2em;
  width: 8em;
  height: 8em;

  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;

  transition: background-color 0.3s linear;
  background-color: rgba(0, 0, 0, 0.6); /* default */
}
.nav-btn.clicked {
  background-color: rgba(230, 230, 230, 1);
}

/* Icon */
.material-symbols-outlined.nav-btn-icon { /* Override font size like this, else it doesn't work */
  font-size: 4em;
}
.nav-btn-icon {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}
/* When the button is hovered over, change icon style */
.nav-btn:hover .nav-btn-icon {
  font-size: 5em;
  color: #00CF00;
}
.nav-btn:active .nav-btn-icon {
  font-size: 3em;
}
.nav-btn-icon.clicked {
  color: black; !important;
}
