.above-threejs-canvas {
  position: absolute;
  z-index: 100;
}

/*https://www.w3schools.com/howto/howto_css_disable_text_selection.asp*/
.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.nav-btn {
  margin: 2em;
  width: 8em;
  height: 8em;

  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;

  transition: opacity 0.3s linear;
  background-color: rgba(0, 0, 0, 0.6); /* default */
}
.nav-btn.clicked {
  /*background-color: rgba(230, 230, 230, 1);*/
  opacity: 0;
}

/* Icon */
.material-symbols-outlined.nav-btn-icon { /* Override font size like this, else it doesn't work */
  font-size: 4em;
}
.nav-btn-icon {
  color: white;
  transition: color 0.3s, font-size 0.3s;
}
/* When the button is hovered over, change icon style */
.nav-btn:hover .nav-btn-icon {
  font-size: 5em;
  color: #00CF00;
}
.nav-btn:active .nav-btn-icon {
  font-size: 3em;
}
.nav-btn-icon.clicked {
  color: black;
}

/* Sidebar */
.sidebar {
  background: rgba(0, 0, 0, 0.8);
  color: white;

  position: absolute; /* Force sidebar to overlap nav button*/
  top: 0;
  overflow: auto; /* Prevent sidebar items from wrapping */
  white-space: nowrap;
  transform: translateX(-100%); /* Hide sidebar by default */
  transition: transform 0.3s; /* Animate */

  /*padding-right: 2em;*/
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    transform: translateY(-100%);
  }
}

.show-sidebar {
  transform: none;
}

.sidebar-item {
  padding: 1em;
  padding-right: 3em;
  border-bottom: #555 1px solid;
  cursor: pointer;
}
.sidebar-item-text {
  display: inline-block;
  font-family: "Source Code Pro", "Courier New", monospace;
}
.sidebar-item-image {
  width: 4em;
  height: 4em;
  padding-right: 2em;
}
