#nav-btn {
  position: absolute;
  z-index: 100;
  display: block;

  margin: 2em;
  width: 8vw;
  height: 8vw;

  border: white 2px solid;
  border-radius: 5px;
  cursor: pointer;

  transition: background 1s;
  background: rgba(0, 0, 0, 0.6);
}

.material-symbols-outlined#planet-icon {
  font-size: 4vw;
}

#planet-icon {
  color: white;
  transition: color 0.2s;
}

#nav-btn:hover #planet-icon {
  color: lawngreen;
}

#nav-btn:focus {
  background: rgba(255, 255, 255, 1);
}

#nav-btn:focus #planet-icon {
  color: black;
}
